In [59]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [41]:
df = pd.read_csv('train_LZdllcl.csv')

In [42]:
df['education'].fillna('Bachelor\'s', inplace=True)
df['previous_year_rating'].fillna('0', inplace=True)

In [43]:
df_with_dummies=pd.get_dummies(df["department"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("department", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["region"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("region", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["education"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("education", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["gender"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("gender", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["recruitment_channel"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("recruitment_channel", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["no_of_trainings"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("no_of_trainings", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["age"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("age", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["previous_year_rating"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("previous_year_rating", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["length_of_service"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("length_of_service", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df[r"KPIs_met >80%"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop(r"KPIs_met >80%", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df[r"awards_won?"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop(r"awards_won?", axis = 1, inplace=True)

df_with_dummies=pd.get_dummies(df["avg_training_score"])
df = pd.concat([df, df_with_dummies], axis=1)
df.drop("avg_training_score", axis = 1, inplace=True)

In [51]:
# Save to drive
df.to_csv("trainfinal.csv", index = False, sep=',', encoding='utf-8')

In [52]:
df=pd.read_csv('trainfinal.csv')

,employee_id,is_promoted,Analytics,Finance,HR,Legal,Operations,Procurement,R&D,Sales & Marketing,...,90,91,92,93,94,95,96,97,98,99
0,65438,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,65141,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7513,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2542,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,48945,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df.iloc[0:10,2:]

,Analytics,Finance,HR,Legal,Operations,Procurement,R&D,Sales & Marketing
0,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0
6,0,0,0,0,1,0,0,0
7,0,0,0,0,1,0,0,0
8,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,1

In [58]:
#Load from drive and train test split
df=pd.read_csv('trainfinal.csv')
#Train test split
features=df.iloc[:,2:].values
labels=df.iloc[:,1:2]
labels= pd.get_dummies(labels).values
trainX, testX, trainY, testY = train_test_split(features, labels, test_size=0.33, random_state=42)

In [60]:
dTree = DecisionTreeClassifier()
dTree.fit(trainX,trainY)
dTree.score(testX, testY)

0.9019185050035937

In [67]:
dfTest = pd.read_csv('test_2umaH9m.csv')
dfTest.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [68]:
dfTest['education'].fillna('Bachelor\'s', inplace=True)
dfTest['previous_year_rating'].fillna('0', inplace=True)

In [69]:
dfTest_with_dummies=pd.get_dummies(dfTest["department"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("department", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["region"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("region", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["education"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("education", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["gender"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("gender", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["recruitment_channel"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("recruitment_channel", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["no_of_trainings"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("no_of_trainings", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["age"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("age", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["previous_year_rating"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("previous_year_rating", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["length_of_service"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("length_of_service", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest[r"KPIs_met >80%"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop(r"KPIs_met >80%", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest[r"awards_won?"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop(r"awards_won?", axis = 1, inplace=True)

dfTest_with_dummies=pd.get_dummies(dfTest["avg_training_score"])
dfTest = pd.concat([dfTest, dfTest_with_dummies], axis=1)
dfTest.drop("avg_training_score", axis = 1, inplace=True)

In [73]:
dfTest.values.shape

(23490, 207)

In [76]:
xTest =dfTest.iloc[:,1:]
xTest.shape

(23490, 206)

In [77]:
dTree.predict(xTest)

ValueError: Number of features of the model must match the input. Model n_features is 208 and input n_features is 206